  <h2 class="title is-2">Planned events</h2>
  {% set events = future_events %}
  {% include 'incl/events.html' %}

  <h2 class="title is-2">Past events</h2>
  {% set events = past_events %}
  {% include 'incl/events.html' %}


