<ul style="list-style-type: none;">
{% for event in events %}
    <li>
        {% if event.location.name == "Online" %}
        <i class="fa-solid fa-display" arial-hidden="true" title="Online"></i>
        {% else %}
        <i class="fa-solid fa-people-group" arial-hidden="true" title="In-person"></i>
        {% endif %}

        {{event.date}} - {{event.group}} -
        {% if event.slug %}
            <a href="/en/{{ event.slug }}">{{ event.title }}</a>
            <ul>
                {% for pres in event.schedule %}
                    {% if pres.details %}
                    <li>{% for speaker in pres.details.speakers %}{{speaker.name}}{% if not loop.last %}, {% endif %}{% endfor %}: {{pres.details.title}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <a href="{{event.register}}">{{ event.title }}</a> <i class="fa fa-external-link" arial-hidden="true"></i>
        {% endif %}
    </li>
{% endfor %}
</ul>

