      </div>
    </section>

 <footer class="footer">
  <div class="content has-text-centered">
    <p>
    <a href="https://gitlab.com/hamakor/python.org.il/">source code</a> Page generated {{today}}
    </p>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

});
</script>

  </body>
</html>
