<!DOCTYPE html>
<html lang="{{lang}}" {% if lang == "he" %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ '/style/site.css' | cache_bust }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1f596acc9f.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <section id="main-section" class="section">
      <div class="container">
        {% include 'incl/navbar.html' %}

