    body {direction: rtl;}
    .nav { text-align: right;}
    tt { font-weight: bold; font-size: large; color: red;}
    tt.cmd { font-weight: bold; font-size: large; color:black;}
    h2 { color: blue;}
    h3 { color: green;}
    div.author { font-style: italic; }
    p {text-indent:1em; text-align:justify}
    pre {margin-left:3em; background: yellow; padding: 1em; border-style: solid; 
         margin-right:3em; direction:ltr;}
    span.input {color:blue; font-size: 120%; font-weight:bold;}
    span.lh {color:violet; font-weight:bold;}
    em {color:black;}
    table {text-align: right; margin-left: auto; margin-right: auto;}
    address img {float: left}
    address {
      padding-top: .5em;
      padding-right: 1em;
      padding-left: 1em;
      padding-bottom: .5em;
      margin-top:  3em;
      border-top: 1px solid black;
      background-color: #eee;
      clear: both;
    }
    a:link img, a:visited img {border-style: none}
    ul, ol { margin-right: 2em;}
    ul li { margin-top: 1em;}
    ul ul li { margin-top: 0.75em;}
