{% include 'incl/header.html' %}

<div class="content">
    <h1 class="title is-1">{{event.title}}</h1>
    <div>Date: {{event.date}}</div>
    <div>Location: <a href="{{event.location.url}}">{{event.location.name}}</a> {{event.location.address}}</div>
    {% if event.group == "PyWeb" %}
    <div>Part of <a href="/en/pyweb">PyWeb</a></div>
    {% endif %}

    <div>
    {% if event.future %}
        <a class="button is-primary" href="{{event.register}}">register</a>
    {% else %}
        <a  href="{{event.register}}">register</a>
    {% endif %}
    </div>


    <h2 class="title is-2">Schedule</h2>
    {% for entry in event.schedule %}
        <div>
            {% if entry.time %}
                {{entry.time}}
            {% endif %}
            {% if entry.presentation == 'mingling' %}
                Meeting and mingling (30 min)
            {% elif entry.presentation == 'break' %}
                Break
            {% elif entry.presentation == 'lightning-talks' %}
                Ligtning talks
            {% else %}
              <div class="box">
                <span class="title is-3"><a id="{{entry.presentation_slug}}" href="/en/presentations/{{entry.presentation_slug}}">{{entry.details.title}}</a> by
                  {% for speaker in entry.details.speakers %}
                    <a href="speaker.linkedin">{{speaker.name}}</a>
                    {% if not loop.last %}, {% endif %}
                  {% endfor %}
                </span>
                <div>Language: {{entry.details.language}}</div>
                <div>Length: {{entry.details.length}} min</div>
                <div>{{entry.details.body | safe}}</div>
                {% if entry.details.video_en %}
                    <a href="{{ entry.details.video_en }}">video (in English)</a>
                {% endif %}
                {% if entry.details.video_he %}
                    <a href="{{ entry.details.video_he }}">video (in Hebrew)</a>
                {% endif %}


                <div style="margin-top: 20px">
                  {% for speaker in entry.details.speakers %}
                    <div style="display:flex;">
                      {% if speaker.img %}
                         <a href="/en/people/{{speaker.slug}}"><img src="/img/{{speaker.img}}" width="256px" alt="{{speaker.name}}" title="{{speaker.name}}"></a>
                      {% endif %}
                      <div><a href="/en/people/{{speaker.slug}}">{{speaker.name}}</a></div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

        </div>
        <hr>
    {% endfor %}

    <div>
    {% if event.future %}
        <a class="button is-primary" href="{{event.register}}">register</a>
    {% else %}
        <a  href="{{event.register}}">register</a>
    {% endif %}
    </div>


    {% if event.banner %}
      <img src="{{event.banner}}" alt="event banner" title="event banner">
    {% endif %}
</div>

{% include 'incl/footer.html' %}
