{% set title = "Python in Israel - פייתון בישראל" %}
{% include 'incl/header.html' %}


<div class="content">

  <div id="title">
  <h1 class="title is-1">
    <a class="reference" dir="LTR" href="/en/">Python in Israel</a>
  &nbsp;-&nbsp;
    <a class="reference" dir="RTL" href="/he/">פייתון בישראל</a>
  </h1>
  </div>

  {% include 'incl/all_events.html' %}

</div>


{% include 'incl/footer.html' %}
