{% set title = "Python in Israel - פייתון בישראל" %}
{% include 'incl/header.html' %}

<style>
#title {
    text-align: center;
}
h1 {
    font-size: 50px;
}
</style>

<div class="content">

  <div id="title">
    <h1 class="title is-1">
      <a class="reference" dir="LTR" href="/en/">Python in Israel</a>
    &nbsp;-&nbsp;
      <a class="reference" dir="RTL" href="/he/">פייתון בישראל</a>
    </h1>
  </div>

  <div>
      <ul>
          <li><a href="/en/pyweb">PyWeb</a> has monthly in-person meetings with multiple speakers and virtual presentations each time with a single speaker and an open floor for discussions.</li>
          <li><a href="/en/pydata">PyData</a> has in-person meetings with multiple speakers every few months and a conference once a year with many speakers.</li>
          <li><a href="/en/pycon">PyCon</a> is an annual event with many many speakers.</li>
      </ul>
  </div>


  <h2 class="title is-2">Planned events</h2>
  {% set events = future_events %}
  {% include 'incl/events.html' %}

</div>


{% include 'incl/footer.html' %}
