{% set title = "Missing fields for people" %}
{% include 'incl/header.html' %}

<h2 class="title is-2">Missing fields Speakers and organizers</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Talks count</th>
        <th>Image</th>
        <th>linkedin</th>
        <th>github</th>
        <th>gitlab</th>
    </tr>
    </thead>
    <tbody>
    {% for slug in people | sort %}
       <tr>
         <td><a href="/en/people/{{slug}}">{{people[slug].name}}</a></td>
         <td>{{ people[slug].presentations | length }}</td>
         <td>
         {% if people[slug].img %}
            <a href="/en/people/{{slug}}"><img src="/img/{{people[slug].img}}" width="32" alt="{{people[slug].name}}" title="{{people[slug].name}}"></a>
         {% else %}
            image
         {% endif %}
         </td>

         <td>
         {% if people[slug].linkedin %}
         <a href="{{people[slug].linkedin}}">LinkedIn</a>
         {% else %}
            linkedin
         {% endif %}
         </td>

         <td>
         {% if people[slug].github %}
         <a href="https://github.com/{{people[slug].github}}">GitHub</a>
         {% else %}
            github
         {% endif %}
         </td>

         <td>
         {% if people[slug].gitlab %}
         <a href="{{people[slug].gitlab}}">GitLab</a>
         {% else %}
            gitlab
         {% endif %}
         </td>


      </tr>
    {% endfor %}
    </tbody>
</table>


{% include 'incl/footer.html' %}
