{% set title = "Speakers and organizers" %}
{% include 'incl/header.html' %}

<h2 class="title is-2">Speakers and organizers</h2>

{% for slug in people | sort %}
  {% if people[slug].img %}
    <a href="/en/people/{{slug}}"><img src="/img/{{people[slug].img}}" width="128" alt="{{people[slug].name}}" title="{{people[slug].name}}"></a>
  {% endif %}
{% endfor %}

<ul>
{% for slug in people | sort %}
    <li>
        <a href="/en/people/{{slug}}">{{people[slug].name}}</a>
    </li>

{% endfor %}
</ul>

</div>


{% include 'incl/footer.html' %}
