{% include 'incl/header.html' %}

<div class="content">
    <h1>{{person.name}}</h1>

  <div style="display:flex;">
    {% if person.img %}
      <img style="margin-right: 10px" src="/img/{{person.img}}" width="128" alt="{{person.name}}" title="{{person.name}}">
    {% endif %}
    <div>
      {% if person.homepage %}
        <a href="{{person.homepage}}">{{person.name}}</a>
      {% else %}
        {{person.name}}
      {% endif %}

      {% if person.github %}
        <div><a href="https://github.com/{{person.github}}">GitHub</a></div>
      {% endif %}

      {% if person.gitlab %}
        <div><a href="{{person.gitlab}}">GitLab</a></div>
      {% endif %}

      {% if person.linkedin %}
        <div><a href="{{person.linkedin}}">LinkedIn</a></div>
      {% endif %}

      {% if person.twitter %}
      <div><a href="{{person.twitter}}">Twitter</a></div>
      {% endif %}

      {% if person.SlideShare %}
        <div><a href="{{person.SlideShare}}">SlideShare</a></div>
      {% endif %}

      {% if person.Slides %}
        <div><a href="{{person.Slides}}">Slides</a></div>
      {% endif %}

      {% if person.SlideDeck %}
        <div><a href="{{person.SlideDeck}}">SlideDeck</a></div>
      {% endif %}

      {% if person.SpeakerDeck %}
        <div><a href="{{person.SpeakerDeck}}">SpeakerDeck</a></div>
      {% endif %}

      {% if person.projects %}<div><a href="{{person.projects}}">projects</a></div>{% endif %}
    </div>
  </div>

  <div>{{person.body | safe }}</div>

  <h2>Presentations</h2>
  <ul>
  {% for pres in person.presentations %}
  <li>{{pres.details.event.date}} <a href="/en/{{pres.details.event.slug}}#{{pres.presentation_slug}}">{{pres.details.title}}</a> on <a href="/en/{{pres.details.event.slug}}">{{pres.details.event.title}}</a></li>
  {% endfor %}
  </ul>

</div>

{% include 'incl/footer.html' %}
