{% set title = "Presentations" %}
{% include 'incl/header.html' %}

<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Length</th>
        <th>Video?</th>
    </tr>
    </thead>
    <tbody>
    {% for slug, data in presentations.items() | sort(attribute='1.event.date', reverse=True) %}
       <tr>
         <td>{{data.event.date}}</td>
         <td><a href="/en/presentations/{{slug}}">{{data.title}}</a></td>
         <td>{{data.length}}</td>
         <td>{% if data.video_he or data.video_en %}YES{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>


{% include 'incl/footer.html' %}
