{% include 'incl/header.html' %}

<div class="content">
    <h1>{{presentation.title}}</h1>

    {% for speaker in presentation.speakers %}
    <div>
        <a href="/en/people/{{speaker.slug}}">{{speaker.name}}</a>
        {% if speaker.img %}
        <img src="/img/{{speaker.img}}" width="128px" alt="{{speaker.name}}">
        {% endif %}
    </div>
    {% endfor %}

    <div>Language: {{presentation.language}}</div>

    {% if presentation.video_he %}
    <div><a href="{{presentation.video_he}}">video in Hebrew</a></div>
    {% endif %}

    {% if presentation.video_en %}
    <div><a href="{{presentation.video_en}}">video in English</a></div>
    {% endif %}

    <div>
        The presentation was given on {{presentation.event.date}} at <a href="/en/{{presentation.event.slug}}">{{presentation.event.title}}</a>.
    </div>

    <div>
    {{presentation.body | safe}}
    </div>
</div>

{% include 'incl/footer.html' %}
