{% set title = "Python in Israel - פייתון בישראל" %}
{% include 'incl/header.html' %}


<style>
#title {
    text-align: center;
}
h1 {
    font-size: 50px;
}
</style>

<div class="content">
  <div id="title">
    <h1 class="title is-1">
      <a class="reference" dir="LTR" href="/en/">PyCon Israel</a>
    </h1>
  </div>

  <div>
  <ul>
      <li>The annual Python conference in Israel <a href="https://pycon.org.il">PyCon IL</a> has its own site.</li>
      <li>If you would like to make sure you don't miss it next year, subscribe to the <a href="https://lists.hamakor.org.il/postorius/lists/news.pycon.org.il/">PyCon IL newsletter</a>.</li>
  </ul>
  </div>

  {% include 'incl/all_events.html' %}

</div>


{% include 'incl/footer.html' %}
