{% set title = "Python in Israel - פייתון בישראל" %}
{% include 'incl/header.html' %}


<style>
#title {
    text-align: center;
}
h1 {
    font-size: 50px;
}
</style>

<div class="content">
  <div id="title">
    <h1 class="title is-1">
      <a class="reference" dir="LTR" href="/en/">PyData Tel Aviv</a>
    </h1>
  </div>

  <div>
  <ul>
      <li>PyData has regular <a href="https://www.meetup.com/pydata-tel-aviv/">meetings in Tel Aviv</a> and an <a href="https://pydata.org/telaviv2023/">annual conference</a>.</li>
  </ul>
  </div>

  {% include 'incl/all_events.html' %}

</div>


{% include 'incl/footer.html' %}
