{% set title = "Python in Israel - פייתון בישראל" %}
{% include 'incl/header.html' %}


<style>
#title {
    text-align: center;
}
h1 {
    font-size: 50px;
}
</style>

<div class="content">
  <div id="title">
    <h1 class="title is-1">
      <a class="reference" dir="LTR" href="/en/">PyWeb-IL - Anything about Python in Israel</a>
    </h1>
  </div>

  <div>
  <ul>
      <li>Monthly meetings about Python in general in Israel. We usually meet in Tel-Aviv-Yafo, but we don't shy away from meetings elsewhere as well.</li>
      <li>To register on our events go to our <a href="https://www.meetup.com/PyWeb-IL/">Meetup page</a></li>
      <li>You are invited to <a href="https://groups.google.com/g/pyweb-il/">join the mailing list</a>.</li>
      <li>To contribute to this page <a href="https://gitlab.com/hamakor/python.org.il/">fork this repo</a>.</li>
      <li><a href="/en/pyweb-code-of-conduct">Code of Conduct</a></li>
      <li>Slides are usually in English. Presentations are usually given in Hebrew.</li>
      <li><a href="/en/pyweb-presentations">Presentation proposals</a></li>
      <li><a href="/en/pyweb-hosting">Hosting an event</a></li>
  </ul>
  </div>

  {% include 'incl/all_events.html' %}

</div>


{% include 'incl/footer.html' %}
