{% set title = "Topics" %}
{% include 'incl/header.html' %}

<h2 class="title is-2">Topics</h2>

<ul>
  {% for topic in topics %}
    <li>{{topic}}</li>
  {% endfor %}
</ul>

{% include 'incl/footer.html' %}
