{% set title = "Videos" %}
{% include 'incl/header.html' %}

<h2 class="title is-2">Video recordings in English</h2>

<ul>
{% for video in videos %}
  {% if video.language == "en" %}
  <li><a href="{{video.presentation.video_en}}">{{video.presentation.title}}</a> (English)</li>
  {% endif %}
{% endfor %}
</ul>

<h2 class="title is-2">Video recordings in Hebrew</h2>

<ul>
{% for video in videos %}
  {% if video.language == "he" %}
  <li><a href="{{video.presentation.video_he}}">{{video.presentation.title}}</a> (Hebrew)</li>
  {% endif %}
{% endfor %}
</ul>


{% include 'incl/footer.html' %}
